<div class="detail-view">
  <div class="detail-hero">
    <button class="btn-back" (click)="enclaveSvc.seleccionarEnclave(null)">←</button>
    <img [src]="punto.image" class="img-full">
    <div class="title-overlay">
      <h2>{{ punto.name }}</h2>
    </div>
  </div>

  <div class="green-actions">
    <div class="act-box" (click)="enclaveSvc.abrirEnGoogleMaps(punto)">
      <span>↪️</span>
      <small>Cómo llegar</small>
    </div>
    <div class="act-box" (click)="enclaveSvc.copiarLink(punto)">
      <span>🔗</span>
      <small>Compartir</small>
    </div>
  </div>

  <div class="info-body">
    <h3 class="green-title">📄 Datos de interés</h3>
    <div class="info-item">📍 {{ punto.address }}</div>
   
    <div class="info-item">
      🕒 
      @if (enclaveSvc.getEstadoHorario(punto.horarios); as res) {
        <strong [style.color]="res.abierto ? '#2e7d32' : '#d32f2f'">
          {{ res.abierto ? 'Abierto.' : 'Cerrado.' }}
        </strong>
        <span> {{ res.mensaje }}</span>
      }
    </div>
</div>

</div>
<!--Es la ficha tecnica lo que aparece cuando haces clic en un punto de la lista-->