<div class="detail-view">
  <div class="detail-hero">
    <button class="btn-back" (click)="enclaveSvc.seleccionarEnclave(null)">←</button>
    <img [src]="punto.image" class="img-full">
    <div class="title-overlay">
      <h2>{{ punto.name }}</h2>
    </div>
  </div>

  <div class="green-actions">
    <div class="act-box" (click)="enclaveSvc.abrirEnGoogleMaps(punto)">
      <span>↪️</span>
      <small>Cómo llegar</small>
    </div>
    <div class="act-box" (click)="enclaveSvc.copiarLink(punto)">
      <span>🔗</span>
      <small>Compartir</small>
    </div>
  </div>

  <div class="info-body">
    <h3 class="green-title">📄 Datos de interés</h3>
    <div class="info-item">📍 {{ punto.address }}</div>

    <div class="info-item schedule-row">
      <span>🕒</span>

      @if (enclaveSvc.getEstadoHorario(punto.horarios); as res) {
      <div class="schedule-content">
        <strong [class.text-open]="res.abierto" [class.text-closed]="!res.abierto">
          {{ res.mensaje }}
        </strong>
      </div>
      } @else {
      <span> Horario no disponible</span>
      }
    </div>

  </div>
  <!--Es la ficha tecnica lo que aparece cuando haces clic en un punto de la lista-->